#root {
	--border-color:#CEE2FB;
	--primary-color:#1E3A8A;

	--asana-green:#5DA283;
	--asana-yellow:#F1BD6C;
	--asana-red:#D1395A;

	font-family:Inter, cursive, Helvetica, sans-serif;
	color:#224;
}

.content-container {
	line-height:1.5;
}

a {
	color:var(--primary-color);
}


